.home__box {
    background-color: #ebeef2;
}

.home__title {
    line-height: 1;
    color: #242e3b;
    font-family: 'Nunito Sans' ;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    padding: 0 40px;
}